html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://wallpapers.com/images/hd/harry-potter-deathly-hallows-qivqxxln1k4681pb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#story-container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.6;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

p {
  margin: 1rem 0;
  color: #ddd;
}

a {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 2px;
}

a:hover {
  background-color: #45a049;

}

